<h1>@PageTitle</h1>

<EditForm Model="@Model" OnInvalidSubmit="HandleValidSubmit">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<div class="form-group">
		<label for="registration">Registratienummer:</label>
		<InputText id="registration" @bind-Value="Model.Registration" class="form-control w-auto" />
		<ValidationMessage For="@(() => Model.Registration)" />
	</div>
	<div class="form-group">
		<label for="type">Type:</label>
		<InputSelect id="type" @bind-Value="Model.AircraftTypeId" class="form-control w-auto">
			@foreach (var type in Types)
			{
				<option value="@type.Value">@type.Label</option>
			}
		</InputSelect>
		<ValidationMessage For="@(() => Model.AircraftTypeId)" />
	</div>
	<div class="form-group">
		<label for="airline">Maatschappij:</label>
		<InputSelect id="airline" @bind-Value="Model.AirlineId" class="form-control w-auto">
			@foreach (var airline in Airlines)
			{
				<option value="@airline.Value">@airline.Label</option>
			}
		</InputSelect>
		<ValidationMessage For="@(() => Model.AirlineId)" />
	</div>
	<div class="form-group">
		<label for="specialLivery">Special livery:</label>
		<InputCheckbox id="specialLivery" @bind-Value="Model.HasSpecialLivery" class="form-control w-35px" />
		<ValidationMessage For="@(() => Model.HasSpecialLivery)" />
	</div>
	<div class="form-group">
		<label for="firstSeen">Eerst gezien:</label>
		<InputDate id="firstSeen" @bind-Value="Model.FirstSeen" class="form-control w-auto" />
		<ValidationMessage For="@(() => Model.FirstSeen)"></ValidationMessage>
	</div>
	<div class="form-group">
		<label for="lastSeen">Laatst gezien:</label>
		<InputDate id="lastSeen" @bind-Value="Model.LastSeen" class="form-control w-auto" />
		<ValidationMessage For="@(() => Model.LastSeen)"></ValidationMessage>
	</div>
	<div class="form-group">
		<label for="airport">Luchthavens:</label>
		<Select id="airport" @onchange="SelectedAirportChanged" multiple class="form-control w-auto">
			@foreach (var airport in Airports)
			{
				<option value="@airport.Value">@airport.Label</option>
			}
		</Select>
		<ValidationMessage For="@(() => Model.AirlineId)" />
	</div>
</EditForm>

@code {
	[Parameter]
	public AircraftFormViewModel Model { get; set; }
	[Parameter]
	public string PageTitle { get; set; }
	[Parameter]
	public IEnumerable<InputSelectItem> Types { get; set; }
	[Parameter]
	public IEnumerable<InputSelectItem> Airlines { get; set; }
	[Parameter]
	public IEnumerable<InputSelectItem> Airports { get; set; }
	[Parameter]
	public EventCallback OnSubmitClicked { get; set; }

	private void HandleValidSubmit()
	{
		OnSubmitClicked.InvokeAsync();
	}

	private void SelectedAirportChanged(ChangeEventArgs e)
	{
		Guid id = Guid.Parse((string)e.Value);
		Model.AirportIds.Add(id);
	}
}
