

<div class="card mt-4 mx-1 mb-2 d-inline-block crud-card" style="width: 24rem">
	<div class="card-body">
		<img class="card-img-top" src="@Model.Image" alt="Foto van @Model.Registration"/>
		<div class="row align-items-center mt-3">
			<div class="col text-center">Registratie</div>
			<div class="col text-center">Type</div>
			<div class="col text-center">Maatschappij</div>
			<div class="w-100"></div>
			<div class="col text-center font-weight-bold pt-2">@Model.Registration</div>
			<div class="col text-center font-weight-bold pt-2">@Model.AircraftType</div>
			<div class="col text-center font-weight-bold pt-2">@Model.Airline</div>
		</div>
		<div class="row text-center mt-4">
			<div class="col">
				<button class="btn font-weight-bold oi oi-pencil" ></button>
			</div>
			<div class="col">
				<button class="btn font-weight-bold oi oi-trash"></button>
			</div>
		</div>
	</div>
</div>

@code {
	[Parameter]
	public AircraftListItem Model { get; set; }
}
